<a href="https://colab.research.google.com/github/gibsonw/PUCRS-KDD/blob/master/T2_KDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
# import dos datasets
df_arenas = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/arenas.csv')
df_clubes = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/clubes.csv')
df_estados = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/estados.csv')
df_jogos_2013 = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/jogos_2013.csv')
df_jogos_2014 = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/jogos_2014.csv')
df_jogos_2015 = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/jogos_2015.csv')
df_jogos_2016 = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/jogos_2016.csv')
df_jogos_2017 = pd.read_csv('https://raw.githubusercontent.com/gibsonw/PUCRS-KDD/master/jogos_2017.csv')

df_estados = df_estados.drop(['desc_estado'], axis=1)

In [0]:
# concat dos df dos jogos
df_jogos_full = pd.concat([df_jogos_2013,df_jogos_2014,df_jogos_2015,df_jogos_2016,df_jogos_2017])

In [0]:
# join / merge dos df
df_jogos_full_merged = pd.merge(left=df_jogos_full, right=df_clubes, how='inner', left_on=['id_clube1'], right_on='id_clube')
df_jogos_full_merged = pd.merge(left=df_jogos_full_merged, right=df_clubes,  left_on='id_clube2', right_on='id_clube')
df_jogos_full_merged = pd.merge(left=df_jogos_full_merged, right=df_clubes,  left_on='id_clube_vencedor', right_on='id_clube')
df_jogos_full_merged = pd.merge(left=df_jogos_full_merged, right=df_estados,  left_on='id_estado_clube1', right_on='id_estado')
df_jogos_full_merged = pd.merge(left=df_jogos_full_merged, right=df_estados,  left_on='id_estado_clube2', right_on='id_estado')
df_jogos_full_merged = pd.merge(left=df_jogos_full_merged, right=df_estados,  left_on='id_estado_vencedor', right_on='id_estado')
df_jogos_full_merged['maior_goleada1'] = df_jogos_full_merged['qtd_gols_clube1'] - df_jogos_full_merged['qtd_gols_clube2']
df_jogos_full_merged['maior_goleada2'] = df_jogos_full_merged['qtd_gols_clube2'] - df_jogos_full_merged['qtd_gols_clube1']
df_jogos_full_merged['data_ano'] = df_jogos_full_merged['data'].str.slice(start=6)
df_jogos_full_merged['total_gols'] = df_jogos_full_merged['qtd_gols_clube2'] + df_jogos_full_merged['qtd_gols_clube1']


ren_col = {'desc_clube_x':'clube_1','desc_clube_y':'clube_2','desc_clube':'clube_vencedor','sigla_x':'estado_clube1','sigla_y':'estado_clube2','sigla':'estado_clube_vencedor'}
df_jogos_full_merged.rename(columns=ren_col, inplace=True)
df_jogos_full_merged = df_jogos_full_merged.drop(['id_clube_x','id_clube_y','id_estado','id_estado_y','id_estado_x','id_clube','id_clube_y','id_estado_clube2','dia','horario','rodada'], axis=1)

In [5]:
# a. Qual o clube que mais marcou gols em todas as temporadas?

df_clube_gols = df_jogos_full_merged.groupby(['clube_1']).agg({'qtd_gols_clube1': ['sum']})
df_clube_gols = df_clube_gols.append(pd.DataFrame(df_jogos_full_merged.groupby(['clube_2']).agg({'qtd_gols_clube2': ['sum']})))
df_clube_gols.fillna(0,inplace=True)
df_clube_gols.reset_index(inplace=True)
df_clube_gols = df_clube_gols.groupby(['index']).sum()
df_clube_gols['Qtd_gols_total'] = df_clube_gols.sum(axis = 1)
df_clube_gols.rename(columns={'qtd_gols_clube1':'qtd_gols_casa','qtd_gols_clube2':'qtd_gols_fora'}, inplace=True)
df_clube_gols.sort_values('Qtd_gols_total', ascending=False)[:1]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

         qtd_gols_casa qtd_gols_fora Qtd_gols_total
                   sum           sum
index
Cruzeiro         173.0         110.0          283.0

In [6]:
# b. Qual o clube que mais marcou gols na temporada de 2015?

df_jogos_full_merged_2015 = df_jogos_full_merged.loc[(df_jogos_full_merged['data_ano']=='2015')]
df_clube_gols_2015 = df_jogos_full_merged_2015.groupby(['clube_1']).agg({'qtd_gols_clube1': ['sum']})
df_clube_gols_2015 = df_clube_gols_2015.append(pd.DataFrame(df_jogos_full_merged_2015.groupby(['clube_2']).agg({'qtd_gols_clube2': ['sum']})))
df_clube_gols_2015.fillna(0,inplace=True)
df_clube_gols_2015.reset_index(inplace=True)
df_clube_gols_2015 = df_clube_gols_2015.groupby(['index']).sum()
df_clube_gols_2015.rename(columns={'qtd_gols_clube1':'qtd_gols_casa','qtd_gols_clube2':'qtd_gols_fora'}, inplace=True)
df_clube_gols_2015['Qtd_gols_total'] = df_clube_gols_2015.sum(axis = 1)
df_clube_gols_2015.sort_values('Qtd_gols_total', ascending=False)[:1]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

            qtd_gols_casa qtd_gols_fora Qtd_gols_total
                      sum           sum
index
Corinthians          41.0          30.0           71.0

In [7]:
# c. Qual o jogo onde houveram mais gols, em todas as temporadas?

df_jogos_qtd_gols = pd.DataFrame(df_jogos_full_merged)
df_jogos_qtd_gols['total_gols'] = df_jogos_qtd_gols['qtd_gols_clube2'] + df_jogos_qtd_gols['qtd_gols_clube1']
df_jogos_qtd_gols[['data','clube_1','clube_2','qtd_gols_clube1','qtd_gols_clube2','total_gols']].sort_values('total_gols', ascending=False)[:5]

            data      clube_1  ... qtd_gols_clube2  total_gols
565   08/06/2017  Chapecoense  ...               6           9
1814  11/09/2016        Sport  ...               3           8
1821  14/05/2017        Bahia  ...               2           8
532   29/09/2013  Atlético-PR  ...               5           8
1721  26/10/2013     Cruzeiro  ...               3           8

[5 rows x 6 columns]

In [8]:
# d. Qual foi a maior goleada de todas as temporadas? Maior goleada nesse contexto é igual
# a maior diferença de gols entre o que um time marcou em relação ao outro.

df_jogos_maior_goleada = pd.DataFrame(df_jogos_full_merged)
df_jogos_maior_goleada['maior_goleada1'] = df_jogos_maior_goleada['maior_goleada1'].abs()
df_jogos_maior_goleada.head()
df_jogos_maior_goleada_colunas = ['data','clube_1','clube_2','qtd_gols_clube1','qtd_gols_clube2','total_gols','maior_goleada1']
df_jogos_maior_goleada[df_jogos_maior_goleada_colunas].sort_values('maior_goleada1', ascending=False)[:5]

            data        clube_1  ... total_gols  maior_goleada1
884   10/05/2014       Botafogo  ...          6               6
1871  21/09/2014          Goiás  ...          6               6
615   02/09/2015  Internacional  ...          6               6
1303  09/10/2014    Chapecoense  ...          5               5
1559  24/11/2013    Atlético-PR  ...          7               5

[5 rows x 7 columns]

In [9]:
# e. Qual foi o estado mais vitorioso (quantidade de partidas) em 2016?

df_UF_vencedor_2016 = df_jogos_full_merged.loc[(df_jogos_full_merged['data_ano']=='2016') & (df_jogos_full_merged['estado_clube_vencedor']!='XX')]
df_UF_vencedor_2016_colunas = ['data','clube_1','clube_2','estado_clube_vencedor','qtd_gols_clube1','qtd_gols_clube2','total_gols']
df_UF_vencedor_2016 = pd.DataFrame(df_UF_vencedor_2016[df_UF_vencedor_2016_colunas])
df_UF_vencedor_2016.groupby(['estado_clube_vencedor']).agg({'estado_clube_vencedor': ['count']})['estado_clube_vencedor'].sort_values('count', ascending=False)[:1]

                       count
estado_clube_vencedor
SP                        90